@using WebClient.Data
@inject DragAndDropService DragAndDropService
@typeparam T

<div ondragover="event.preventDefault()" @ondrop="@OnDrop">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Zone { get; set; }

    [Parameter]
    public Action<T, object> Drop { get; set; }

    [Parameter]
    public object TargetBody { get; set;}

    void OnDrop()
    {
        if (Drop != null && DragAndDropService.Accepts(Zone))
        {
            Drop((T)DragAndDropService.Data, this.TargetBody);
        }
    }
}